<!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="{:url('user/index')}">
                          <i class="icon_house_alt"></i>
                          <span>主页</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="{:url('user/index')}" class="">
                          <i class="icon_document_alt"></i>
                          <span>用户列表</span>
                      </a>
                  </li>       
                  <li class="sub-menu">
                      <a href="#" class="">
                          <i class="icon_desktop"></i>
                          <span>视频列表</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{:url('videotype/index')}">视频类型</a></li>
                          <li><a class="" href="__STATIC__/buttons.html">视频</a></li>
                      </ul>
                  </li> 
                  <li>
                      <a class="" href="{:url('comments/index')}">
                          <i class="icon_genius"></i>
                          <span>留言列表</span>
                      </a>
                  </li>
                  <li>                     
                      <a class="" href="#">
                          <i class="icon_piechart"></i>
                          <span>留言列表</span>
                          
                      </a>
                                         
                  </li>
                             
                  <li class="sub-menu">
                      <a href="#" class="">
                          <i class="icon_table"></i>
                          <span>留言列表</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="__STATIC__/basic_table.html">Basic Table</a></li>
                      </ul>
                  </li>
                  
                  <li class="sub-menu">
                      <a href="#" class="">
                          <i class="icon_documents_alt"></i>
                          <span>留言列表</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">                          
                          <li><a class="" href="__STATIC__/profile.html">Profile</a></li>
                          <li><a class="" href="__STATIC__/login.html"><span>Login Page</span></a></li>
                          <li><a class="" href="__STATIC__/blank.html">Blank Page</a></li>
                          <li><a class="" href="__STATIC__/404.html">404 Error</a></li>
                      </ul>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->